.todo-wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.todo {
    font-size: 2rem;
    margin-top: 20px;
    color: rgb(112, 202, 231);
}

.todo:hover {
    cursor: pointer;
    color: rgb(255, 187, 0);
}

.completed {
    text-decoration: line-through;
    color: rgb(255, 187, 0);
}

.delete {
    font-size: 2rem;
    background: white;
    border: white;
    margin-left: 20px;
}

.delete:hover {
    cursor: pointer;
}